/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #222;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    background: #fffcf9;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

nav {
    background: #fafaff;
}

.list-header {
    padding-bottom: 15px;
    color: #777;
    cursor: default;
}

.restuarant-list-item {
    cursor: pointer;
}

    .restuarant-list-item:hover {
        background: #efefff;
        transition: 0.3s;
    }

.restuarant-list-logo {
    width: 150px;
    height: 150px;
}

.restuarant-list-name {
}

.footer {
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 3;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.content {
    margin-top: 80px;
}

.restuarant-list-name {
    font-size: 2rem;
    font-weight: bold;
    color: #444;
    margin-left: -10px;
}

.reastuarant-list-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.reastuarant-list-background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.restuarant-page-banner {
    width: 100%;
    opacity: 0.2;
}

.restuarant-page-banner-image {
    width: 100%;
}

.restaurant-page-content {
    position: relative;
}

.restuarant-page-banner-gradient {
    position: absolute;
    top: 355px;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.restuarant-page-logo-container {
    width: 260px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.restuarant-page-details {
    position: absolute;
    top: 20px;
    left: 280px;
    height: 300px;
    width: auto;
    background: none;
    border: none;
}

.restuarant-page-details-name {
    font-size: 3rem;
    font-weight: bold;
}

.restuarant-page-reservation {
    position: absolute;
    top: 320px;
    width: 100%;
    border: none;
    padding: 10px 20px 20px 20px;
    margin-bottom: 80px;
    background: none;
}

.restuarant-page-reservation-date-block {
    
}

.restuarant-page-reservation-card-content {
    z-index: 2;
}

.restuarant-page-reservation-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #efefff;
    z-index: 1;
    opacity: 0.8;
}

.restuarant-page-reservation-date-validation {
    font-size: 0.9em;
}

.restuarant-page-reservation-time-validation {
    font-size: 0.9em;
}

.restuarant-page-reservation-form {
    padding-top: 10px;
}

.restuarant-page-reservation-form-date {
    width: 300px;
    display: inline-block;
}

.restuarant-page-reservation-form-time {
    width: 300px;
    display: inline-block;
}

.restuarant-page-reservation-form-order {
    width: 200px;
    display: inline-block;
}

.restuarant-page-reservation-form-submit {
    width: 150px;
    display: inline-block;
}

.menu-header{
    margin-top: -66px;
    z-index: 2;
}

.menu {
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
    margin-bottom: 150px;
}

.highlighted{
    background: #fafafa;
}

/* -- quantity box -- */

.quantity {
    display: inline-block;
}

    .quantity .input-text.qty {
        width: 35px;
        height: 39px;
        padding: 0 5px;
        text-align: center;
        background-color: transparent;
        border: 1px solid #efefef;
    }

    .quantity.buttons_added {
        text-align: left;
        position: relative;
        white-space: nowrap;
        vertical-align: top;
    }

        .quantity.buttons_added input {
            display: inline-block;
            margin: 0;
            vertical-align: top;
            box-shadow: none;
        }

        .quantity.buttons_added .minus,
        .quantity.buttons_added .plus {
            padding: 7px 10px 8px;
            height: 41px;
            background-color: #ffffff;
            border: 1px solid #efefef;
            cursor: pointer;
        }

        .quantity.buttons_added .minus {
            border-right: 0;
        }

        .quantity.buttons_added .plus {
            border-left: 0;
        }

            .quantity.buttons_added .minus:hover,
            .quantity.buttons_added .plus:hover {
                background: #eeeeee;
            }

    .quantity input::-webkit-outer-spin-button,
    .quantity input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }

    .quantity.buttons_added .minus:focus,
    .quantity.buttons_added .plus:focus {
        outline: none;
    }